<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Contact Our Specialist</title>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container mt-3">
<h2>Our Specialist</h2>
<p>We are a group of experienced professionals with years of experience in the pharmaceutical field! 
  Do not hesitate to contact us with any questions you may have regarding the medications or anything else if you require advice!</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Profile Picture</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fan</td>
        <td>Tastic</td>
        <td><img src="/images/funnyface.png" width="20%"></td>
        <td>fantastic@gmail.com</td>
        <td>9942 6005</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Pompom</td>
        <td><img src="/images/mary.png" width="10%"></td>
        <td>maryppm@yahoo.com</td>
        <td>7883 2546</td>
      </tr>
      <tr>
        <td>July</td>
        <td>August</td>
        <td><img src="/images/july.png" width="20%"></td>
        <td>jugust@gmail.com</td>
        <td>6775 4532</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
